<div class="topContaier">
  <h1 class="topPage">Instagram Clone 2018</h1>
  <p class="topPage">日々の何気ない画像、お気に入りの画像、気軽に何でも投稿しちゃって下さい</p>
  <div class="page-link toInstaIndex">
    <%= link_to "投稿一覧へ", pictures_path, class: 'btn btn-warning' %>
  </div>
</div>
